


<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand me-5" href="{{  path('home_index') }}"><i class="fab fa-amazon me-3 fs-3"></i>SymfoAmazon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('product') }} }">Shop</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                            {% if  app.user %}
                       href="{{ path('account_show', {'id': app.user.id}) }}"
                       {% else %}
                       href="{{ path('app_login')}}"

                            {% endif %}>Mon compte</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">
                {% if app.user %}
                    <span class="text-light me-3">Wesh {{ app.user.firstName~' '~app.user.lastName }} !</span>
                    <a class="btn btn-outline-warning" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                <a class="btn btn-outline-warning" href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}

            </span>
        </div>
    </div>
</nav>